.task {
  background-color: lightblue;
  padding: 5px 10px;
}

#rotate-word {
  border: 1px solid black;
  width: 100px;
  background-color: aqua;
}

#result {
  padding-left: 10px;
  color: red;
}

#guessBtn2 {
  background-color: rgb(151, 39, 39);
  color: white;
  padding: 7px 10px;
  border: none;
  border-radius: 5px;
  margin: 15px 0;
}
#guessBtn2:hover {
  background-color: rgb(205, 63, 63);
}
